<!DOCTYPE html>
<html ng-app="BindingApp">
  <head>
    <meta charset="utf-8">
    <script src="../common/angular.min.js"></script>
    <script src="app.js"></script>
    <title>2-way, 1-way and 1-time binding</title>
  </head>
  <body>
    <h1>2-way, 1-way and 1-time binding</h1>
    <div ng-controller="BindingController">

      <button ng-click="showNumberOfWatchers()">Log # of Watchers</button>
      <button ng-click="setFullName()">Set Full Name</button><br>

      <!-- 1-time binding, DOM not updated after first initialization -->
      Full Name is: {{ :: fullName }} <br>

      <button ng-click="logFirstName()">Log First Name</button><br>
      <button ng-click="logFullName()">Log Full Name</button><br>

      <div>
        <!--
          2-way binding to update the value based on change from
          1) UI
          2) Controller
        -->
        <input type="text" ng-model="firstName">
      </div>
    </div>
  </body>
</html>
