<!DOCTYPE html>
<html ng-app="CounterApp">
  <head>
    <meta charset="utf-8">
    <script src="../common/angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>ng-repeat</title>
  </head>
  <body>
    <h1>The Digest Cycle</h1>
    <div ng-controller="CounterController">
      <button ng-click="showNumberOfWatchers()">Log # of watchers</button>
      <!-- this also creates a watcher automatically -->
      <!-- the digest cycle is fired with key press -->
      <input ng-model="name">
      <div>
        <button ng-click="countOnce()">Up Once Counter (once)</button>
        <button ng-click="upCounter()">Increment Counter</button>
      </div>
      <div>
        <!-- referencing  properties from the scope automatically sets up watchers-->
        Once counter: {{ onceCounter }} <br>
        Regular counter: {{ counter }}
      </div>
    </div>
  </body>
</html>
